<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>错误页面</title>
  <style>
    * {font-size:15px;font-family:'HeiTi';}
  </style>
</head>
<body>
</head>
<body>
  <div style="margin:0 auto;width:800px;text-align:center;">
    <div style="width:100%;padding:40px 0;color:#FF5722">
      {$msg}
    </div>
  </div>
</body>
</html>
