<!--{template ruixi:common/header}-->
<!--{template ruixi:common/common_banner}-->

<div class="mwt-row mwt-row-flex wp main-body">
  <div class="mwt-col-fill artical-pannel">
    <h1>{$page[title]}</h1>
    <div class="artical-body">
      {$page[content]}
    </div>
    <!--{if $mid=='career'}-->
      <!--{eval $career_email=C::t('#ruixi#ruixi_setting')->fetch('career_email'); }-->
      <a class="mwt-btn mwt-btn-primary" href="mailto:{$career_email}?subject=[应聘]{$page[title]}">{$lang[applyJob]}</a>
      <a class="mwt-btn mwt-btn-danger" href="{$setting[resume_downurl]}" target="_blank">{$lang[down_resume]}</a>
    <!--{/if}-->

    <!--{if $auth>0}-->
      <div class="adminbar">
          <a href="$_G['siteurl']/plugin.php?id=ruixi:admin#/page~pkey={$pkey}&lan={$lan}" target="_blank" class="admina">编辑</a>
      </div>
    <!--{/if}-->
  </div>
  <div class="mwt-col-wd" style="width:350px;">
    <!--{template ruixi:common/sidearea}-->
  </div>
</div>

<!--{template ruixi:common/footer}-->
