<!--{template ruixi:common/header}-->
<!--{template ruixi:common/common_banner}-->
<!--{eval
$page = isset($_GET['page']) ? intval($_GET['page']) : 1;
$searchResult = C::m('#ruixi#ruixi_page')->search('news','',$page);
$pages = $searchResult['annex']['pages'];
$urlPrefix = $_G['siteurl']."/plugin.php?id=ruixi:news&";
}-->
<div class="mwt-row mwt-row-flex wp main-body">
  <div class="mwt-col-fill artical-pannel">
    <h1>{$lang[product]}</h1>
    <div class="artical-body">
      <p>
      <!--{if $lan=='en'}-->
The design team has been deeply involved in the VCSEL field for decades, with more than 30 American invention patents, published more than 200 papers, covering VCSEL from design to production of various fields, the company has complete talent structure, covering the company management, the design, the epitaxial growth process manufacturing, production management and marketing, with fast response, work closely with customized differentiated products, and to ensure the ability of supply chain.
<br><br>
VCSEL is the key device in 3D imaging module, in 2017 the first year for face recognition, due to the cost, supply chain, including aspects such as the mature technology of a new generation of iPhoneX import structured light, or will accelerate the 3D sensing applications in the field of consumer electronics (especially cell phones), VCSEL advantage: two-dimensional light emitting array, low cost, small divergence Angle and high photoelectric conversion efficiency.
      <!--{else}-->
设计团队深耕VCSEL领域数十年，拥30余项美国发明专利，发表相关学术论文200余篇，涵盖VCSEL从设计到生产的各个领域，公司完备的人才结构覆盖了公司管理、设计、外延生长生产工艺制造、生产管理和市场销售，具备快速响应、密切配合客户定制差异化产品，并保障供应链的能力。
<br><br>
VCSEL是3D成像模组中的关键器件，2017年为人脸识别元年，原因在于包括方案、供应链、成本等方面的技术成熟新一代iPhoneX导入结构光方案，或将加速 3D感应在消费电子（尤其是手机）领域应用，VCSEL 优势：二维发光阵列、成本低、发散角小、光电转换效率高。
      <!--{/if}-->
      </p>
    </div>

    <!--产品搜索框-->
    <div style="background:#087983;padding:10px 20px;margin-bottom:20px;display:none;">
      <div style="font-size:14px;font-family:'HeiTi';margin-bottom:5px;color:#fff;">{$lang[productSearch]}</div>
      <div class="mwt-search">
        <input id="sokey" type="text" class="mwt-field" style="width:270px;" placeholder="{$lang[productSearch]}" onchange="soproduct(this.value);">
        <i id="sokeybtn" class="fa fa-search"></i>
      </div>
    </div>

    <!--产品分类列表-->
    <ul class="imgul">
      <!--{loop $sideList $k $im}-->
      <li><a href="{$im[url]}"><div class="img"><img src="{$im[imgurl]}"></div><p>{$im[title]}</p></a></li>
      <!--{/loop}-->
    </ul>

  </div>
  <div class="mwt-col-wd" style="width:350px;">
    <!--{template ruixi:common/sidearea}-->
  </div>
</div>

<!--{template ruixi:common/footer}-->
