<div class="wall" style="background:#E6E7E8;">
  <div class="wp" style="padding:20px 0 15px;color:#58595b;">
    <h2 style="margin:0 0 20px;font:bold 18px 'HeiTi';">{$lang[home_banner_title]}</h2>
    <p style="font:normal 16px 'HeiTi';line-height:24px;">{$lang[home_banner_content]}</p>
  </div>
</div>

<div class="mwt-row wp" style="margin:20px auto 20px;">
  <div class="mwt-col-5 block">
    <!--公司新闻-->
    <div class="block-title" style="background:#7b904b;">
      <a href="$_G['siteroot']plugin.php?id=ruixi:news">{$lang[news]}</a>
    </div>
    <div class="block-body">
      <table class="ultab">
        <!--{loop $newsList $k $im}-->
        <tr>
          <td><a href="{$im[url]}"><i class="sicon-doc" style="font-size:14px;"></i> {$im[title]}</a></td>
          <td width="60" align="right">{$im[ctime]}</td>
        </tr>
        <!--{/loop}-->
      </table>
      <a class="amore" href="$_G['siteroot']plugin.php?id=ruixi:news">{$lang[viewMore]} <i class="sicon-arrow-right"></i></a>
    </div>
  </div>

  <!--产品-->
  <div class="mwt-col-4 block">
    <div class="block-title" style="background:#087983;">
      <a href="$_G['siteroot']plugin.php?id=ruixi:product">{$lang[product]}</a>
    </div>
    <div class="block-body">
      <table class="ultab">
        <!--{loop $productCateList $k $im}-->
        <tr>
          <td><a href="{$im[url]}"><i class="fa fa fa-caret-right" style="font-size:14px;"></i> {$im[title]}</a></td>
          <td></td>
        </tr>
        <!--{/loop}-->
      </table>
      <a class="amore" href="$_G['siteroot']plugin.php?id=ruixi:product">{$lang[viewMore]} <i class="sicon-arrow-right"></i></a>
    </div>
  </div>

  <!--公司介绍-->
  <div class="mwt-col-3 block">
    <div class="block-title" style="background:#0474bb;">
      <a href="$_G['siteroot']plugin.php?id=ruixi:page&p=company_introduction">{$lang[companyIntroduction]}</a>
    </div>
    <div class="block-body">
      <ul class="home-ul">
        <!--{loop $companyIntroductionPageList $k $im}-->
        <li><a href="{$im[url]}">{$im[title]}</a></li>
        <!--{/loop}-->
      </ul>
      <a class="amore" href="$_G['siteroot']plugin.php?id=ruixi:page&p=company_introduction">{$lang[viewMore]} <i class="sicon-arrow-right"></i></a>
    </div>
  </div>

</div>
