<!--{eval
$language = C::m('#ruixi#ruixi_lang')->getLanguage();
$lang = C::m('#ruixi#ruixi_lang')->get();
$setting = C::t('#ruixi#ruixi_setting')->getAllMap();
}-->
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{$lang[companyName]}</title>
  <link rel="icon" href="{$plugin_path}/template/static/logo.png" type="image/png">
  <link type="text/css" rel="stylesheet" href="{$plugin_path}/template/libs/mwt/4.0/mwt.min.css">
  <link type="text/css" rel="stylesheet" href="{$plugin_path}/template/src/base.css">
  <script type="text/javascript" src="$_G['siteroot']static/js/common.js"></script>
  <script type="text/javascript" src="{$plugin_path}/template/libs/jquery/1.11.2/jquery.min.js"></script>
  <script type="text/javascript" src="{$plugin_path}/template/libs/mwt/4.0/mwt.min.js"></script>
  <script type="text/javascript">var charset='{CHARSET}',cookiepre='{$_G[config][cookie][cookiepre]}',cookiedomain='{$_G[config][cookie][cookiedomain]}',cookiepath='{$_G[config][cookie][cookiepath]}';var language='{$language}';
    var setting = {eval echo json_encode($setting);};
    function setlang(l){setcookie('lang',l);window.location.reload();}
    function soproduct(key){window.location="$_G['siteroot']plugin.php?id=ruixi:product&mod=list&key="+key;}
    function setLocalStorage(k,v) {
        var key = 'ruixi#'+k;
        var value = JSON.stringify(v);
        localStorage.setItem(key, value);
    }
    function getLocalStorage(k) {
        var key = 'ruixi#'+k;
        var s = localStorage.getItem(key);
        return JSON.parse(s);
    }
    function removeLocalStorage(k) {
        var key = 'ruixi#'+k; 
        localStorage.removeItem(key);
    }
  </script>
</head>
<body>
<div class="header">
  <div class="mwt-row mwt-row-flex wp">
    <div class="mwt-col-wd" style="width:450px;padding-top:8px;">
      <a href="$_G['siteroot']plugin.php?id=ruixi:index" class="logo"><img src="{$plugin_path}/template/static/logo.png"><span>{$lang[companyName]}</span></a>
    </div>
    <div class="mwt-col-fill" style="text-align:right;">
      <div class="menu-top">
        <ul class="menuul langul" style="display:none;">
          <li><a href="javascript:setlang('en');">English</a></li>
          <li><span></span></li>
          <li><a href="javascript:setlang('zh');">中文</a></li>
        </ul>
<!--
        <ul class="menuul">
          <li><a href="">{$lang[contact]}</a></li>
          <li><a href="">{$lang[how_to_buy]}</a></li>
          <li><a href="">{$lang[home]}</a></li>
        </ul>
-->
        <div class="mwt-search"><input id="sokey" type="text" class="mwt-field" style="width:200px;" placeholder="{$lang[productSearch]}" onchange="soproduct(this.value);"><i id="sokeybtn" class="fa fa-search"></i></div>
      </div>
      <div class="menu-bottom" style="margin-top:20px;">
        <ul class="menuul nav">
          <li><a href="$_G['siteroot']plugin.php?id=ruixi:index"><!--{$lang[home]}--></a></li>
          <li><a href="$_G['siteroot']plugin.php?id=ruixi:product"><!--{$lang[product]}--></a></li>
          <li><a href="$_G['siteroot']plugin.php?id=ruixi:page&p=company_introduction"><!--{$lang[companyIntroduction]}--></a></li>
          <li><a href="$_G['siteroot']plugin.php?id=ruixi:career"><!--{$lang[careers]}--></a></li>
          <li><a href="$_G['siteroot']plugin.php?id=ruixi:cart"><!--{$lang[shoppingCart]}--></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>



