/* 页面样式 */
.artical-pannel {margin:10px 0;}
.artical-pannel h1 {color:#00539e;font-size:26px;line-height: 1.2em;margin:0 0 15px;font-family:'HeiTi';font-weight:normal;}
.artical-body {
    font-size:13px;font-family:'HeiTi';
    line-height: 1.5em;
    color: #58595b;
}
.artical-body * {font-family:'HeiTi';}

.artical-body ul {margin:0}
.artical-body a {color:#2196F3;}



